@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
html{
    font-family: 'Tilt Warp', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

.dashboard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.dashboard-left{
    width: 372px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #121432;
    color: #C1BEBE;
}

.dashboard-right{
    flex: 1; /*this will make the div take all the remaining space */   
    position: relative;
    margin-left: -50px; /* use margin instead of position */
    border-radius: 55px 0px 0px 55px;
    height: 100vh;
    display: flex;
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
    cursor: pointer;
    caret-color: transparent;
    color: #C1BEBE;
}
