@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
html{
    font-family: 'Nunito', sans-serif;
}
.auth-page-body{
    width: 1553px;
    height: 776px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.auth-page-body-left {
    width: 461px;
    height: 429px;
}

.auth-page-body-right {
    width: 520px;
    height: 623px   ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.auth-page-body-right-firt-row,
.auth-page-body-right-second-row{
    width: 520px;
    height: 67px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.auth-page-body-right-firt-row h1,
.auth-page-body-right-second-row p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48.83px;
    line-height: 67px;

    color: #3F3D56;
}

.auth-page-body-right-second-row{
    align-items: flex-end;
    height: 35px;
}

.auth-page-body-right-second-row p{
    width: 412px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #333745;
}

.auth-page-body-right-third-row{
    width: 520px;
    height: 72px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.first-name-input,
.last-name-input{
    width: 250px;
    height: 72px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.auth-page-body-right label{
    width: 59px;
    height: 15px;

    align-self: flex-start;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #838AA3;
}
.first-name-input-field,
.last-name-input-field{
    width: 250px;
    height: 53px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: 12px;

    background: #FCFCFC;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
}
.first-name-input-field img,
.last-name-input-field img{
    width: 14px;
    height: 14px;
    padding-right: 14px;
}
.first-name-input-field input,
.last-name-input-field input{
    flex: 1;
    padding: 16px 20px;

    background: #FCFCFC;
    border: none;

    padding-left: 14px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.first-name-input-field input:focus,
.last-name-input-field input:focus{
    outline: none;
    
    transition: 0.4s;
    
    margin-left: 7px;
}

.first-name-input-field input::placeholder,
.last-name-input-field input::placeholder{
    color: #838AA3;
}

.login-form-input{
    width: 520px;
    height: 72px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-form-input label{
    width: 78px;
}
.email-input-field img{
    width: 17px;
    height: 17px;
}

.auth-page-body-right-sixth-row{
    width: 520px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer ;

    gap: 10px;

    background: #03045E;
    border-radius: 8px;
}

.auth-button{
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.3px;

    background-color: #03045E;

    border-radius: 8px;
    border: none;

    color: #FFFFFF;
}
.auth-page-body-right-eighth-row {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #333745;
}
.auth-page-body-right-eighth-row a{
    color: #03045E;
}
.forget-password{
    width: 520px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer ;

    gap: 10px;

}

.forget-password p{
    width: 97px;
    height: 15px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color:#FF6584;
}