.landing-page-container{
    width: 1277px;
    height: 706px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-body{
    width: 105%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.landing-page-body-left{
    width: 585px;
    height: 322px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    
    margin-bottom: 59px;
}

.landing-page-body-title{
    width: 556px;
    height: 136px;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;

    color: #22237C;

    flex: none; /* it prevents the element from growing or shrinking */  
    order: 0; /* this is the order in which the element will appear */

}

.landing-page-body-subtitle{
    width: 556px;
    height: 52px;
    
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(3, 4, 94, 0.5);

    flex: none;
    
}

.signup-button{
    width: 140px;
    height: 62px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 17px 38px;

    gap: 10px;

    background-color: #03045E;
    border: none;
    border-radius: 5px;

    font-family: 'Popins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    letter-spacing: 0.75px;

    color: #FFFFFF;

}